@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400,600,700,900&display=swap');

.cv {
  grid-template-columns: 1.2fr 3fr;
  @apply grid w-full text-[11pt] gap-x-7 md:gap-x-16 p-[.7cm] py-[1.3cm] px-[1.4cm] print:p-0 font-[Merriweather,_serif] bg-base-0 tracking-wide h-full;
}

.main {
  @apply flex flex-col divide-y-2 divide-base-100 w-max min-w-full;
}

.main > section {
  @apply py-[10px];
}

.cv .main:not(span) {
  @apply w-full;
}

.cv :where(h1, h2, h3, h4) {
  @apply text-base-900 uppercase;
}

.cv h1 {
  @apply capitalize text-[1.8em] leading-tight;
}

.cv h2 {
  @apply border-b-[0.13em] border-base-900 mb-2 pb-1 text-2xl leading-[1.35em] text-[1.3em];
}

.cv h3 {
  @apply text-[1em];
}

/* item  */
.cv .item {
  @apply mb-[0.8em] leading-tight;
}

/* contact  */
.cv .contact h2 {
  @apply border-none mt-1 normal-case;
}

.cv .contact h3 {
  @apply border-b-[0.13em] border-base-900 mt-[2em] mb-2 pb-1;
}

.cv .contact .contact__list {
  @apply flex flex-col justify-center gap-2 border-b border-base-100 py-2 font-bold;
}

.cv .contact .contact__list svg {
  @apply text-[1.5em];
}

@media print {
  @page {
    margin: 1.2cm;
  }
  @page: first {
    margin-top: 0;
  }
  body {
    @apply !bg-base-0 text-base-900 font-[Merriweather,_serif] text-inherit font-normal;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    page-break-after: avoid;
    page-break-inside: avoid;
  }

  img {
    page-break-inside: avoid;
    page-break-after: avoid;
  }

  table,
  pre {
    page-break-inside: avoid;
  }
  ul,
  ol,
  dl {
    page-break-before: avoid;
  }
}

.cv .summary p {
  @apply max-w-full;
}

.cv .skills .item span {
  @apply text-[0.9em] font-bold;
}

/* experience & projects  */
.cv .experience .item span:nth-child(1) {
  @apply my-0 mx-auto p-0 block text-left font-bold text-[1em];
}

.cv .experience .item span:where(.location ~ .time)::after {
  @apply p-0 pr-[3px] relative content-[','] text-[0.85em] left-0;
}

.cv .experience .item span:where(:nth-child(3), :nth-child(2), :nth-child(4)) {
  @apply font-bold text-left relative text-[0.85em];
}

.cv .experience .item span:where(:nth-child(3), :nth-child(4)) {
  @apply block float-right;
}

.cv :where(.experience, .projects) .item:first-child {
  @apply pt-0;
}

.cv :where(.experience, .projects) .item:last-child {
  @apply pb-0;
}

/* coursework & education & involvement & projects & summary  */
.cv :where(.coursework, .education, .involvement, .projects, .summary) .item:first-child {
  @apply pt-0;
}

.cv :where(.coursework, .education, .involvement, .projects, .summary) .item:last-child {
  @apply pb-0;
}

/* coursework & education & involvement & projects & summary & testimonials  */
.cv
  :where(.coursework, .testimonials, .education, .involvement, .projects, .summary)
  .item
  :is(.details, .importance, .applied-skills, .summary) {
  @apply text-left w-full block content-[""] leading-[1.6em] mt-[.2em];
}

.cv
  :where(.coursework, .testimonials, .education, .involvement, .projects, .summary)
  .item
  span:nth-child(1) {
  @apply font-semibold p-0 mx-auto w-full block text-[1em];
}

.cv
  :where(.coursework, .testimonials, .education, .involvement, .projects, .summary)
  .item
  span:where(:nth-child(2), :nth-child(3), :nth-child(4), :nth-child(5), :nth-child(6)) {
  @apply font-normal inline text-[0.9em];
}

.cv
  :where(.coursework, .testimonials, .education, .involvement, .projects, .summary)
  .item
  span:where(:nth-child(3), :nth-child(4), :nth-child(5), :nth-child(6)):before {
  @apply content-['•'] inline-block pr-[5px] pl-[3px];
}

.cv .skills .item:last-child span:after {
  @apply content-[''];
}

.cv
  :where(.coursework, .testimonials, .education, .involvement, .projects, .summary)
  .item
  :is(.details, .importance, .applied-skills, .summary)::before {
  @apply content-[] p-0 m-0;
}
